*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
}

.sidebar{
    width: 35%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.sidebar img{
    position:absolute;
    width: 931px;
    height: 1396px;
}

.photo-cred{
    position: absolute;
    bottom: 5px;
    left: 20%;
    right: 20%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.photo-cred a{
    color: white;
}

.content{
    width: 75%;
    height: 100vh;
}

.title{
    display: flex;
    position: absolute;
    color: white;
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    top: 25%;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.title p{
    position: static;
    font-size: 75px;
}

.title img{
    position: static;
    height: 100%;
    width: auto;
}

.content{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.text{
    height: 20vh;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px 50px 50px 50px;
}

.text p{
    margin-bottom: 15px;
}

.fields{
    padding: 5px 10px;
    height: 250px;
    width: auto;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0px 2px 2px lightgrey;
}

.fields{
    display: flex;
    flex-direction: column;
}

.form-row{
    display: flex;
}

.field{
    display: flex;
    flex-direction: column;
    margin: 12px;
}


.field input{
    height: 25px;
    width: 250px;
    outline: 0;
    border: 1px grey solid;
    border-radius: 3px;
}

.field label{
    font-size: 10px;
    font-weight: bold;
    color: rgb(50, 50, 50);
    margin-bottom: 3px;
}

.field input:focus{
    border: 0;
    outline: 2px solid rgb(88, 88, 182);
    border-radius: 3px;
    box-shadow: 2px 2px 2px darkslategrey;
}

.fields header{
    margin: 15px 15px 5px 15px;
}

.field .error{
    border: 1px solid red;
}

.error:after{
    content: "no";
}

.errortext{
    font-size: 12px;
    color: red;
}